<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/bdd89edb33.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Flipping Cards</title>
  </head>
  <body>
    <section class="section-plans" id="section-plans">
      <div class="card">
        <div class="card__side card__side--front-1"></div>
        <div class="card__side card__side--back card__side--back-1"></div>
      </div>
    </section>
  </body>
</html>
