.container {
  padding: 2px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.containerCard {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10vw;
  gap: 2px;
  justify-content: space-evenly;
}

.subCommHead {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 18vw;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .card {
    width: 30%;
  }
}
@media screen and (max-width: 480px) {
  .card {
    width: 50%;
  }

  .containerCard {
    flex-direction: column;
    align-items: center;
  }
}
