.card {
  transition: 0.5s;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0 5vw;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #0284c7;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

/* .image:hover {
  border-radius: 10px;
} */

.container {
  padding: 2px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.containerCard {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10vw;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .card {
    width: 30%;
  }
}
@media screen and (max-width: 480px) {
  .card {
    width: 50%;
  }
}
