.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
  margin: 20px 0;
  width: 15vw;
  border-radius: 10px;
}

.card__side {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  border-radius: 10px;
}

.name {
  margin: 20px 0;
  font-size: 20px;
  text-align: center;
}

.nameBack {
  margin: 20px 0;
  font-size: 22px;
  text-align: center;
}

.desig {
  text-align: center;
  color: aliceblue;
}

.card__side--front {
  background-color: #fff;
}

.card__side--front-1 {
  background: linear-gradient(-45deg, #0284c7, #64b5f6);
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background: linear-gradient(-45deg, #64b5f6, #0284c7);
}

.card:hover .card__side--front-1 {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}
