.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vw;
  margin: 20px 0;
  width: 20vw;
  border-radius: 10px;
}

.card__side {
  height: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  position: absolute;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  border-radius: 10px;
}

.name {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.nameBack {
  margin: 20px 0;
  font-size: 22px;
  text-align: center;
}

.desig {
  text-align: center;
  color: aliceblue;
}

.card__side--front {
  background-color: #fff;
}

.card__side--front-1 {
  background: linear-gradient(-45deg, #0284c7, #64b5f6);
}

.card__side--back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.card__side--back-1 {
  background: linear-gradient(-45deg, #64b5f6, #0284c7);
}

.card:hover .card__side--front-1 {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
}

.image {
  border-radius: 10px;
  height: 60%;
  width: 65%;
}

@media screen and (max-width: 1080px) {
  .name {
    font-size: 12px;
    margin-top: 10px;
  }

  .nameBack {
    font-size: 18px;
    text-align: center;
  }

  .desig {
    text-align: center;
    font-size: 13px;
    color: aliceblue;
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: 30vw;
    height: 25vh;
  }

  .card__side {
    height: 25vh;
  }
}

@media screen and (max-width: 480px) {
  .name {
    font-size: 15px;
    margin-top: 15px;
  }

  .card {
    width: 60vw;
    height: 30vh;
  }

  .card__side {
    height: 30vh;
  }
}
