body {
  background-size: 100vw;
  background-attachment: fixed;
}

.About {
  margin-top: 2rem;
}

.About div {
  margin: 0 18vw;
  padding: 50px 0;
}

.aboutext {
  font-size: 45px;
  font-weight: 450;
}

.About p {
  text-align: justify;
}

.imptable {
  display: flex;
  justify-content: center;
}

table {
  width: px;
  margin: 80px 0;
  border: 1px solid #ccc;
  background-color: yellow;
  border-collapse: collapse;
}

th,
td {
  text-align: center;
  border: none;
}

th {
  font-size: 30px;
}

td {
  width: 250px;
  height: 55px;
}

.brochure_div {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 25px;
  color: red;
  text-decoration: underline;
}

@media (max-width: 760px) {
  .aboutext {
    font-size: 20px;
  }
}
