.speakerHead {
  font-size: 40px;
  font-weight: 560;
  color: brown;
  text-align: center;
}

.speakersCont {
  display: flex;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 50px 0;
  row-gap: 50px;
}

.speaker {
  background: linear-gradient(-45deg, #0284c7, #64b5f6);
  width: 20vw;
  height: 45vh;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
}

.speaker img {
  width: 13vw;
  height: 28vh;
  margin-bottom: 20px;
  border-radius: 4px;
}

.speakerName {
  font-size: 20px;
  font-weight: 500;
}

.speakerInfo {
  font-size: 15px;
}

@media (max-width: 1080px) {
  .speaker {
    width: 25vw;
  }

  .speaker img {
    width: 15vw;
  }
}

@media (max-width: 720px) {
  .speaker {
    width: 30vw;
  }

  .speaker img {
    width: 20vw;
  }
}

@media (max-width: 480px) {
  .speaker {
    width: 70vw;
  }

  .speaker img {
    width: 50vw;
  }
}
